.page {
 &__footer {
 }
}
.footer {
 & {
  background: url('/assets/img/svg/d-footer.svg') bottom -200px right -80px /
    400px no-repeat,
   url('/assets/img/svg/d-footer.svg') top -20px center / 300px no-repeat,
   linear-gradient(
    261deg,
    rgba(255, 255, 255, 0.28) -114.85%,
    rgba(255, 255, 255, 0) 69.04%
   ),
   #040613;
 }
 &__container {
  color: var(--t-white);
  padding: 120px 0 50px;
 }
 &__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
 }
 &__info {
  width: 100%;
  max-width: 480px;
 }
 &__info-title {
  color: var(--t-white);
  text-align: left;
  margin-bottom: 20px;
 }
 &__info-subtitle {
  font-size: var(--sz-14);
  color: var(--t-white-7);
  margin-bottom: 140px;
 }
 &__info-address {
  display: flex;
  flex-direction: column;
 }
 &__info-phone {
  position: relative;
  font-size: var(--sz-32);
  font-weight: 700;
  padding-left: 44px;
  margin-bottom: 10px;
  &::after {
   position: absolute;
   content: '';
   top: calc(50% - 12px);
   left: 0;
   width: 24px;
   height: 24px;
   background: url('/assets/img/svg/sprite.svg#phone') center / cover no-repeat;
  }
 }
 &__info-mail {
  position: relative;
  font-size: var(--sz-18);
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  padding-left: 44px;
  &::after {
   position: absolute;
   content: '';
   top: calc(50% - 12px);
   left: 0;
   width: 24px;
   height: 24px;
   background: url('/assets/img/svg/sprite.svg#mail') center / cover no-repeat;
  }
 }
 &__form {
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
 }
 &__form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 15px;
 }
 &__form-inp {
  width: 100%;
  font-size: var(--sz-14);
  font-weight: 500;
  color: var(--t-white);
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px;
  &.m-area {
   height: 130px;
   resize: none;
  }
  &::placeholder {
   color: var(--t-white);
  }
 }
 &__form-check {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
 }
 &__form-check-inp {
  flex-shrink: 0;
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
  &:checked {
   background: url('/assets/img/svg/check.svg') center / 16px no-repeat;
  }
 }
 &__form-check-text {
  font-size: var(--sz-14);
 }
 &__form-submit {
 }
 &__descr {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 60px;
  &::after {
   position: absolute;
   content: '';
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100vw;
   height: 1px;
   background-color: rgba(255, 255, 255, 0.3);
  }
 }
 &__descr-text {
  font-size: var(--sz-14);
  color: var(--t-white-7);
 }
}
