.page {
 &__main {
 }
}
//@mark main
.main {
 &__greet {
  margin-bottom: 100px;
 }
 &__services {
  margin-bottom: 160px;
 }
 &__support {
 }
 &__exp {
 }
 &__tariffs {
 }
 &__cases {
 }
 &__team {
 }
 &__reviews {
 }
 &__partners {
 }
}
//@mark greet
.greet {
 & {
  background: url('/assets/img/svg/mask.svg') left center / contain no-repeat,
   url('/assets/img/greet-bg.webp') center / cover no-repeat, var(--b-dark);
 }
 &__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--t-white);
  padding: 190px 0 150px;
 }
 &__info {
  width: 100%;
  max-width: 500px;
 }
 &__info-title {
  font-size: var(--sz-52);
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 15px;
 }
 &__info-subtitle {
  font-size: var(--sz-18);
  line-height: 1.55;
  color: var(--t-white-7);
  margin-bottom: 55px;
 }
 &__info-btn {
 }
 &__list {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 80px 28px;
 }
 &__list-item {
  border-left: 2px solid var(--b-orange);
  padding-left: 10px;
 }
 &__list-title {
  font-size: var(--sz-24);
  font-weight: 700;
  margin-bottom: 5px;
  &.m-cup {
   position: relative;
   & span {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    font-size: var(--sz-48);
    &::after {
     position: absolute;
     content: '';
     bottom: 7px;
     left: 54px;
     width: 60px;
     height: 60px;
     background: url('/assets/img/cup.png') center / contain no-repeat;
    }
   }
  }
 }
 &__list-descr {
  font-size: var(--sz-12);
  color: var(--t-white-7);
 }
}
//@mark services
.services {
 &__container {
 }
 &__title {
  width: 100%;
  max-width: 580px;
  text-align: left;
  margin-bottom: 20px;
 }
 &__subtitle {
  width: 100%;
  max-width: 493px;
  margin-bottom: 60px;
 }
 &__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 130px;
 }
 &__item {
 }
 &__item-visual {
  width: 100px;
  aspect-ratio: 1;
  transform: translateX(-40px);
 }
 &__item-img {
  object-fit: contain;
 }
 &__item-text {
 }
}
//@mark support
.support {
 &__container {
 }
 &__title {
 }
 &__list {
 }
 &__item {
 }
 &__item-num {
 }
 &__item-title {
 }
 &__item-text {
 }
}
.m-1 {
}
.m-2 {
}
.m-3 {
}
.m-4 {
}
.m-5 {
}
.m-6 {
}
.m-7 {
}
.m-8 {
}
.exp {
 &__container {
 }
 &__info {
 }
 &__title {
 }
 &__row {
 }
 &__item {
 }
 &__decor {
 }
}
.tariffs {
 &__container {
 }
 &__title {
 }
 &__box {
 }
 &__card {
 }
 &__card-head {
 }
 &__card-name {
 }
 &__card-cost {
 }
 &__card-descr {
 }
 &__card-line {
 }
 &__card-list {
 }
 &__card-item {
 }
 &__card-btn {
 }
 &__descr {
 }
 &__link {
 }
}
.cases {
 &__container {
 }
 &__title {
 }
 &__box {
 }
 &__card {
 }
 &__card-visual {
 }
 &__card-info {
 }
 &__card-title {
 }
 &__card-date {
 }
 &__card-text {
 }
 &__more {
 }
}
.m-sep {
}
.team {
 &__container {
 }
 &__title {
 }
 &__list {
 }
 &__item {
 }
 &__item-visual {
 }
 &__item-img {
 }
 &__item-name {
 }
 &__item-post {
 }
}
.reviews {
 &__container {
 }
 &__title {
 }
}
.partners {
 &__container {
 }
 &__title {
 }
 &__subtitle {
 }
 &__box {
 }
 &__row {
 }
 &__card {
 }
 &__card-img {
 }
}
