:root {
  --t-white: #fff;
  --t-white-7: rgba(255, 255, 255, 0.7);
  --t-black: #000;
  --t-dark: #050c33;
  --t-dark-7: rgba(5, 12, 51, 0.7);
  --t-orange: #f14d34;
  --b-white: #fff;
  --b-black: #000;
  --b-dark: #040613;
  --b-orange: #f14d34;
  --sz-6: 6px;
  --sz-7: 7px;
  --sz-8: 8px;
  --sz-10: 10px;
  --sz-12: 12px;
  --sz-14: 14px;
  --sz-16: 16px;
  --sz-18: 18px;
  --sz-22: 22px;
  --sz-24: 24px;
  --sz-28: 28px;
  --sz-32: 32px;
  --sz-42: 42px;
  --sz-48: 48px;
  --sz-52: 52px;
  --sz-72: 72px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

input,
button,
textarea,
select {
  outline: none;
  box-sizing: border-box;
}

address {
  font-style: normal;
}

::-webkit-scrollbar-button {
  width: 6px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background-color: var(--b-white);
  box-shadow: 0px 0px 3px var(--b-white) inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--b-black);
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-resizer {
  width: 7px;
  height: 0px;
}

::-webkit-scrollbar {
  width: 7px;
}

body.page {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: var(--sz-16);
  line-height: normal;
  color: var(--t-dark-7);
  background-color: var(--b-white);
}
body.page.j-lock {
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: grid;
  min-height: 100vh;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-rows: 1fr auto;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.i-wrap {
  position: relative;
  display: flex;
  width: 100%;
}

.i-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.i-sin {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.sect-gap {
  margin-bottom: 100px;
}

.lang {
  position: relative;
}
.lang__btn {
  font-size: var(--sz-14);
  font-weight: 700;
}
.lang__btn.m-main {
  position: relative;
}
.lang__btn.m-main::after {
  position: absolute;
  content: "";
  top: calc(50% - 6px);
  right: -14px;
  width: 12px;
  height: 12px;
  background: url("/assets/img/svg/sprite.svg#arrow-down") center/cover no-repeat;
}
.lang__btn.m-main.j-show::after {
  transform: rotate(180deg);
}
.lang__btn.m-toggle {
  position: absolute;
  bottom: -24px;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.lang__btn.m-toggle.j-show {
  opacity: 1;
  visibility: visible;
}

.btn {
  height: 60px;
  min-width: 220px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid var(--b-orange);
}

.title {
  font-size: var(--sz-42);
  font-weight: 700;
  color: var(--t-dark);
  text-align: center;
}

.page__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.header__container {
  display: flex;
  align-items: center;
  color: var(--t-white);
  padding: 34px 0 30px;
}
.header__logo {
  width: 137px;
  height: 20px;
  margin-right: 60px;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__nav-link {
  font-size: var(--sz-12);
  text-transform: uppercase;
}
.header__group {
  display: flex;
  align-items: center;
  font-size: var(--sz-18);
  margin-left: auto;
}
.header__phone {
  margin-right: 38px;
}
.main__greet {
  margin-bottom: 100px;
}
.main__services {
  margin-bottom: 160px;
}
.main__exp {
  margin-top: -180px;
}
.greet {
  background: url("/assets/img/svg/mask.svg") left center/contain no-repeat, url("/assets/img/greet-bg.webp") center/cover no-repeat, var(--b-dark);
}
.greet__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--t-white);
  padding: 190px 0 150px;
}
.greet__info {
  width: 100%;
  max-width: 500px;
}
.greet__info-title {
  font-size: var(--sz-52);
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 15px;
}
.greet__info-subtitle {
  font-size: var(--sz-18);
  line-height: 1.55;
  color: var(--t-white-7);
  margin-bottom: 55px;
}
.greet__list {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 80px 28px;
}
.greet__list-item {
  border-left: 3px solid var(--b-orange);
  padding-left: 10px;
}
.greet__list-title {
  font-size: var(--sz-24);
  font-weight: 700;
  margin-bottom: 5px;
}
.greet__list-title.m-cup {
  position: relative;
}
.greet__list-title.m-cup span {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  font-size: var(--sz-48);
}
.greet__list-title.m-cup span::after {
  position: absolute;
  content: "";
  bottom: 7px;
  left: 54px;
  width: 60px;
  height: 60px;
  background: url("/assets/img/cup.png") center/contain no-repeat;
}
.greet__list-descr {
  font-size: var(--sz-12);
  color: var(--t-white-7);
}

.services__title {
  width: 100%;
  max-width: 580px;
  text-align: left;
  margin-bottom: 20px;
}
.services__subtitle {
  width: 100%;
  max-width: 493px;
  margin-bottom: 60px;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 130px;
}
.services__item-visual {
  width: 100px;
  aspect-ratio: 1;
  transform: translateX(-40px);
}
.services__item-img {
  -o-object-fit: contain;
     object-fit: contain;
}
.support {
  position: relative;
  z-index: 10;
}
.support__title {
  margin-bottom: 56px;
}
.support__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
.support__list::after {
  position: absolute;
  content: "";
  inset: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.05);
  z-index: -1;
}
.support__item {
  position: relative;
  background-color: var(--b-white);
  overflow: hidden;
  padding: 27px 40px 42px 25px;
}
.support__item-num {
  color: var(--t-dark);
  opacity: 0.5;
  margin-bottom: 20px;
}
.support__item-title {
  font-size: var(--sz-18);
  color: var(--t-dark);
  margin-bottom: 12px;
}
.support__item-text {
  position: relative;
  z-index: 5;
}
.support__item-decor {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 80px;
  z-index: 1;
}

.exp {
  position: relative;
  background: url("/assets/img/svg/mask.svg") right center/contain no-repeat, linear-gradient(261deg, rgba(255, 255, 255, 0.55) -114.85%, rgba(255, 255, 255, 0) 69.04%), var(--b-dark);
}
.exp__container {
  display: flex;
  justify-content: flex-end;
  color: var(--t-white);
  padding: 380px 0 170px;
}
.exp__info {
  width: 100%;
  max-width: 580px;
}
.exp__title {
  color: var(--t-white);
  text-align: left;
  margin-bottom: 60px;
}
.exp__row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.exp__item {
  padding: 7px 0 7px 20px;
  color: var(--t-white-7);
  line-height: 1.375;
  border-left: 3px solid var(--b-orange);
}
.exp__decor {
  height: 680px;
  position: absolute;
  left: 0;
  bottom: -160px;
}

.tariffs {
  background: url("/assets/img/tariffs.webp") top right/contain no-repeat;
}
.tariffs__container {
  padding-top: 160px;
}
.tariffs__title {
  margin-bottom: 60px;
}
.tariffs__box {
  display: grid;
  grid-template-columns: 0.95fr 1.1fr 0.95fr;
  align-items: center;
}
.tariffs__card {
  min-height: 620px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 80px 60px 50px;
}
.tariffs__card:first-child {
  border-radius: 5px 0 0 5px;
  border-right: none;
}
.tariffs__card:last-child {
  border-radius: 0 5px 5px 0;
  border-left: none;
}
.tariffs__card.m-center {
  position: relative;
  min-height: 665px;
  box-shadow: 0px 4px 60px 0px rgba(161, 161, 161, 0.25);
  padding-top: 66px;
  z-index: 10;
}